body {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  color: #363636;
}
#header {
  border-bottom: 2px solid #7E7E7E;
  margin-bottom: 15px;
  padding-bottom: 3px;
  padding-top: 10px;
  width: 1812px;
}
#footer {
  text-align: center;
}
.clearfix {
  display: block;
  clear: both;
}
a {
  color: #363636;
  text-decoration: none;
}
a.active {
  color: #1ECCFC !important;
}
a:visited {
  color: #363636;
}
a {
   outline: 0;
}
ul {
  margin: 0 !important;
  padding: 0 !important;
}
#logo-title a {
  font-size: 20px;
  line-height: 15px;
  padding: 0px 0px 0px 10px;
}
#hidden_preload_placeholder {
  display: none;
}
#list .item {
  position: relative;
  top: 0;
}
#list .item .onhover {
  position: absolute;
  top: 0;
  opacity: 0.2;
}
#list .item.active .onhover {
  opacity: 1 !important;
}
#list .item.active .onblur {
  display: none;
}