#block-menu-menu-pm-navigation {
  float: right;
}
#block-menu-menu-pm-navigation li {
  list-style: none;
  float: left;
  width: 150px;
  text-align: center;
  padding: 0;
  margin: 0;
}
@media (max-width: 1366px) {
  #block-menu-menu-pm-navigation li{
    width: 110px;
  }
  #header {
    width: 1332px;
  }
}